[Unit]
Description=Auto Polymarket - BTC 1s Freshness Timer

[Timer]
OnBootSec=1min
OnUnitActiveSec=30s
AccuracySec=5s
Unit=auto-poly-btc-monitor-freshness.service

[Install]
WantedBy=timers.target
